html{
    scroll-behavior: smooth;
}

body{
    font-size: 18px;
    margin: 5px;
    padding: 0;
    text-align: center;

}

h1{
    font-size: 55px;
    background-color: #fff48f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
}
h3{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    padding: 5px;
}

h4{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 5px;
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

nav li{
    display:inline;
    padding-right: 20px;
    padding-top: 10px;
    /* fix the width */
}

nav{
    padding: 25px 0;    
    text-align: left;  
    width: max-content; 
    
  }
  
footer{
    background-color: #fff48f;
    color: black;
    /* padding-top: 10px; */
    text-align: center;  
    /* WHY WON'T STAY ON BOTTOM */
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.socials img{
    width: 39px; 
    height: 39px; 
    object-fit: cover;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{ 
    text-decoration: underline; 
    background-color: #fff48f;
} 
nav #current{
    background-color: #fff48f;
    text-decoration: underline;
    border: 1px solid black
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
.skip a:focus{
    position: absolute;
    top: 0px;
}


*:focus{
    border: 2px solid black;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    
    /* grid-template-rows: auto auto auto auto; */
    /* grid-row-gap: 20px; */
}   

/* ALL IMAGE STYLING HERE */
img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
}

#bighouse{
    grid-column: 1/-1;
    grid-row: 1/2;
}
#about_me{
    grid-column: 1/-1;
    grid-row:2/3;
}
#headshot{
    grid-column: 1/-1;
    grid-row: 3/4;
}
#description{
    grid-column: 1/-1;
    grid-row: 4/5;
}

#monty{
    grid-column: 1/-1;
    grid-row: 5/6;
}
#manor{
    grid-column: 1/-1;
    grid-row: 6/7;
}
#family{
    grid-column: 1/-1;
    grid-row: 7/8;
}
#wilmas{
    grid-column: 1/-1;
    grid-row: 9/10;
    padding-bottom: 30px;
}
#arb{
    grid-column: 1/-1;
    grid-row: 10/11;
}
#jacket{
    grid-column: 1/-1;
    grid-row: 11/12;
}
#rainbow{
    grid-column: 1/-1;
    grid-row: 12/13;
}
#sunset{
    grid-column: 1/-1;
    grid-row: 13/-1;
}

/* IMAGES FROM EXPERIENCE PAGE HERE */

#GM{
    width: 20%;
}
#GM_text{
    margin: 0px 30px 0px 30px;
    padding-bottom: 5px;
}

#morningbrew{
    width: 20%;
}
#morningbrew_text{
    margin: 0px 30px 0px 30px;
    padding-bottom: 5px;
}

#tennis{
    width: 15%;
}
#tennis_text{
    margin: 0px 30px 0px 30px;
    padding-bottom: 5px;
}

#leanin{
    width: 10%;
}

#leanin_text{
    margin: 0px 30px 0px 30px;
    padding-bottom: 5px;
}

#ACS{
    width: 10%;
}

#ACS_text{
    margin: 0px 30px 0px 30px;
    padding-bottom: 5px;
}

#chio{
    width: 10%;
}

#chio_text{
    margin: 0px 30px 0px 30px;
    padding-bottom: 60px;
}

/* SKILLS PAGE HERE */
.container_skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

#microsoftlogo{
    /* display:block; */
    padding-left: 10px;
    width: 10%;
    grid-column:1/2;
    grid-row: 1/2;
}

#microsoft_text{
    padding-right: 10px;
    grid-column: 2/-1;
    grid-row: 1/2;
}

/* not working */
#adobe_text{
    padding-right: 10px;
    grid-column: 2/-1;
    grid-row: 2/3;
}

#adobelogo{
    padding-left: 10px;
    width: 10%;
    grid-column: 1/2;
    grid-row: 2/3;
}

#coding{
    padding-right: 10px;
    grid-column: 2/-1;
    grid-row: 3/4;
}

#pythonlogo{
    padding-left: 10px;
    width: 10%;
    grid-column: 1/2;
    grid-row: 3/4;
}


#class{
    padding-left: 10px;
    padding-right: 10px;
    grid-column: 1/-1;
    grid-row: 5/-1;

}

form{
	background: #eaebe9;
	padding-left: 30px 20px 30px 20px;
	width: 100%;
    text-align: center;
}

@media screen and (min-width: 750px) {
    body{
        font-size: 18px;
        margin: 5px;
        padding: 0;
        text-align: center;
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 10px;
    }
    #bighouse{
        grid-column: 1/span 3;
        grid-row: 1/2;
    }
    #about_me{
        grid-column: 2/3;
        grid-row:2/3;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #headshot{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #description{
        grid-column: 2/3;
        grid-row: 4/5;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #extra_p{
        grid-column: 2/3;
        grid-row: 5/6;
        padding-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    #monty{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #manor{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    #family{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #wilmas{
        grid-column: 1/2;
        grid-row: 6/-1;
    }
    #arb{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #jacket{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    #rainbow{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #sunset{
        grid-column: 3/4;
        grid-row: 6/-1;
        padding-top: 35px;
    }

    /* WHY IS THIS NOT CHANGING ANYTHING */
    nav ul {
        display: flex;
        flex-direction: row;
        
        /* why will nothing in flex row work */

        /* flex-direction: row;
        justify-content: flex-end; */
      }

    
}
@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; 
    }
    .skip a{
      -webkit-transition: initial; 
      transition: initial; 
    }
}
