html{
    scroll-behavior: smooth;
}

body{
    font-size: 15px;
    margin: 5px;
    padding: 0;
    text-align: center;

}

h1{
    font-size: 55px;
    background-color: #fff48f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

nav ul{
    list-style-type: none;
  }

nav li{
    display:inline;
    padding-right: 20px;
    /* fix the width */
}

nav{
    padding: 25px 0;    
    text-align: left;  
    width: max-content; 
    
  }
  
footer{
    background-color: #fff48f;
    color: black;
    padding: 10px;
    text-align: center;   
}

.socials img{
    width: 39px; 
    height: 39px; 
    object-fit: cover;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{ 
    text-decoration: underline; 
    background-color: #fff48f;
} 
nav #current{
    background-color: #fff48f;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
.skip a:focus{
    position: absolute;
    top: 0px;
}


*:focus{
    border: 2px solid black;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    
    /* grid-template-rows: auto auto auto auto; */
    /* grid-row-gap: 20px; */
}   

/* ALL IMAGE STYLING HERE */
img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    max-width: 100%;
}

#bighouse{
    grid-column: 1/-1;
    grid-row: 1/2;
}
#about_me{
    grid-column: 1/-1;
    grid-row:2/3;
}
#headshot{
    grid-column: 1/-1;
    grid-row: 3/4;
}
#description{
    grid-column: 1/-1;
    grid-row: 4/5;
}

#monty{
    grid-column: 1/-1;
    grid-row: 5/6;
}
#manor{
    grid-column: 1/-1;
    grid-row: 6/7;
}
#family{
    grid-column: 1/-1;
    grid-row: 7/8;
}
#wilmas{
    grid-column: 1/-1;
    grid-row: 9/10;
}
#arb{
    grid-column: 1/-1;
    grid-row: 10/11;
}
#jacket{
    grid-column: 1/-1;
    grid-row: 11/12;
}
#rainbow{
    grid-column: 1/-1;
    grid-row: 12/13;
}
#sunset{
    grid-column: 1/-1;
    grid-row: 13/-1;
}

/* IMAGES FROM EXPERIENCE PAGE HERE */

#GM{
    width: 20%;
}

#morningbrew{
    width: 20%;
}

#tennis{
    width: 15%;
}
#leanin{
    width: 10%;
}

#ACS{
    width: 10%;
}

#chio{
    width: 10%;
}

/* SKILLS PAGE HERE */
.container_skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
}

#microsoftlogo{
    /* display:block; */
    width: 10%;
    grid-column:1/2;
    grid-row: 1/2;
}

#microsoft_text{
    grid-column: 2/-1;
    grid-row: 1/2;
}

/* not working */
#adobe_text{
    grid-column: 2/-1;
    grid-row: 2/3;
}

#adobelogo{
    width: 10%;
    grid-column: 1/2;
    grid-row: 2/3;
}

#coding{
    grid-column: 2/-1;
    grid-row: 3/4;
}

#pythonlogo{
    width: 10%;
    grid-column: 1/2;
    grid-row: 3/4;
}


#class{
    grid-column: 1/-1;
    grid-row: 4/-1;

}
@media screen and (min-width: 750px) and (max-width: 1025px) {

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-row-gap: 10px;
    }
    #bighouse{
        grid-column: 1/span 3;
        grid-row: 1/2;
    }
    #about_me{
        grid-column: 2/3;
        grid-row:2/3;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #headshot{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    #description{
        grid-column: 2/3;
        grid-row: 4/5;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
    #extra_p{
        grid-column: 2/3;
        grid-row: 5/6;
        padding-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    #monty{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #manor{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    #family{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #wilmas{
        grid-column: 1/2;
        grid-row: 6/-1;
    }
    #arb{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    #jacket{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    #rainbow{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    #sunset{
        grid-column: 3/4;
        grid-row: 6/-1;
        padding-top: 35px;
    }
}
@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; 
    }
    .skip a{
      -webkit-transition: initial; 
      transition: initial; 
    }
}
